</p>
</div>
</main>
<footer class="fixed-bottom bg-secondary py-3">
    <div class="float-end">
        <span class="text-light">© 2025 Tianshan AI Wave Inc. All rights reserved.</span>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>
